NODE_ENV='development'
PORT=3000

DATABASE_URL="postgresql://postgres.uizesmsgjctezagsbrnn:BenCZgpFPwieQMTY@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.uizesmsgjctezagsbrnn:BenCZgpFPwieQMTY@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
API_KEY="sadissa-v1-secret-key"
JWT_SECRET="f5ba2db7c1ab9089f7bcc29906b99877e9f51eb5bfe97c1996e489a61bdcee0e5bea6e7ec4f4ba0afb113a8fb746839c"